extends ./layout/app

block styles
    link(rel="stylesheet", href="/css/perfil.css")
    link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous")
    link(rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css")

block contenido 
    div(class="py-2")
        h2(class="text-center text-4xl font-extrabold pt-10")= pagina

    section(class="seccion-perfil-usuario")
        div(class="perfil-usuario-header")
            div(class="perfil-usuario-portada")
                div(class="perfil-usuario-avatar")
                    img(src="/img/avatar.png")
                    button(type="button" class="boton-avatar")
                        i(class="far fa-image")
                button(type="button" class="boton-portada")
        div(class="perfil-usuario-body")
            div(class="perfil-usuario-bio")
                h3(class="titulo") Jordy Vega
                p(class="texto") ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua.
            div(class="perfil-usuario-footer")
                ul(class="lista-datos")
                    li Direccion de usuario:
                    i(class="icono fas fa-map-signs")
                    li Telefono
                    i(class="icono fas fa-phone-alt")
                    li Trabaja en 
                    i(class="icono fas fa-briefcase")
                ul(class="lista-datos")
                    li Direccion de usuario:
                    i(class="icono fas fa-map-signs")
                    li Telefono
                    i(class="icono fas fa-phone-alt")
                    li Trabaja en 
                    i(class="icono fas fa-briefcase")

    <div class="mx-auto mt-32 w-full max-w-container px-4 sm:px-6 lg:px-8">
        <div class="border-t border-slate-900/5 py-10 text-center">
            <img class="h-8 w-auto" src="/img/icon.svg" style="margin: 0 auto;" alt="icono-cropshield">
            <p class="mt-5 text-center text-sm leading-6 text-slate-500">© 2023 Jordy Vega. All rights reserved.</p>
        </div>
    </div>

    //- footer(class="mx-auto mt-32 w-full max-w-container px-4 sm:px-6 lg:px-8")
    //-     div(class="border-t border-slate-900/5 py-10 text-center")
    //-         <img class="h-8 w-auto" src="/img/icon.svg" style="margin: 0 auto;" alt="icono-cropshield">
    //-         <p class="mt-5 text-center text-sm leading-6 text-slate-500">© 2023 Jordy Vega. All rights reserved.</p>
            