extends ../layout/admin

block styles
    meta(name="csrf-token" content= csrfToken)

block contenido
    <div class="py-16 mx-4">
        <div class="container mx-auto">
            if !esAgricultor
                p(id="usuarioId" class="text-sm text-gray-600" hidden)= usuario.id
            else 
                p(class="text-center") No se encontraron datos
            <div class="grid grid-cols-2 gap-4">
                <div class="bg-white border rounded-lg border-gray-200  p-4">
                    <canvas id="myChart2" width="400" height="300" style="max-width: 100%;"></canvas>
                </div>
                <div class="bg-white border rounded-lg border-gray-200  p-4">
                    <canvas id="myChart3" width="400" height="300" style="max-width: 100%;"></canvas>
                </div>
            </div>
            <div class="bg-white border rounded-lg border-gray-200 p-4 mt-10">
                    <canvas id="myChart4" width="400" height="300" style="max-width: 100%;"></canvas>
            </div>
        </div>
    </div>

    <div class="mx-auto w-full max-w-container px-4 sm:px-6 lg:px-8">
        <div class="border-t border-slate-900/5 py-10 text-center">
            <img class="h-8 w-auto" src="/img/icon.svg" style="margin: 0 auto;" alt="icono-cropshield">
            <p class="mt-5 text-center text-sm leading-6 text-slate-500">© 2023 Jordy Vega. All rights reserved.</p>
        </div>
    </div>  

block scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js")
    script(src="/js/scriptAdmin.js")
    script(src="/js/graficas.js")